# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.development
.env.production
!.env.development.example
!.env.production.example
var.env
docker-compose.yml
10mangos
generated_articles/
temp

# Scripts
sql/*
docs/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.txt
SSR*.md
